<div id="<%= dom_id firm %>">
  <p>
    <strong>Name:</strong>
    <%= firm.name %>
  </p>

  <p>
    <strong>Edrpou:</strong>
    <%= firm.edrpou %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= firm.email %>
  </p>

  <p>
    <strong>Ipn:</strong>
    <%= firm.ipn %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= firm.data %>
  </p>

</div>
