
<!-- Slide-out Menu -->
<div id="slide-out-menu" class="position-fixed top-0 end-0 vh-100" style="width: 0; background-color: rgba(255, 255, 255, 0.5);">
<ul class="list-unstyled">
    <li>
        <a href="<%= send_acts_path %>">
            <i class="icon-from-flaticon"><img src="<%= asset_path('icons/truck_fast_icon_257907.svg') %>" alt="Send Acts Icon" /></i>
            <span class="d-none d-md-inline">Send Acts</span>
        </a>
    </li>
    <li>
        <a href="<%= our_firms_path %>">
            <span class="d-none d-md-inline">Our Firms</span>
        </a>
    </li>
    <li>
        <a href="<%= clients_path %>">
            <span class="d-none d-md-inline">Clients</span>
        </a>
    </li>
    <li>
        <a href="<%= suppliers_path %>">
            <span class="d-none d-md-inline">Suppliers</span>
        </a>
    </li>
    <li>
        <a href="<%= orders_path %>">
            <span class="d-none d-md-inline">Orders</span>
        </a>
    </li>
    <li>
        <a href="<%= products_path %>">
            <span class="d-none d-md-inline">Products</span>
        </a>
    </li>
</ul>

</div>

