<div id="<%= dom_id person %>">
  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= person.last_name %>
  </p>

  <p>
    <strong>Father name:</strong>
    <%= person.father_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= person.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= person.phone %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= person.data %>
  </p>

  <p>
    <strong>Firm:</strong>
    <%= person.firm_id %>
  </p>

</div>
