<div id="<%= dom_id our_firm %>">
  <p>
    <strong>Name:</strong>
    <%= our_firm.name %>
  </p>

  <p>
    <strong>Edrpou:</strong>
    <%= our_firm.edrpou %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= our_firm.email %>
  </p>

  <p>
    <strong>Ipn:</strong>
    <%= our_firm.ipn %>
  </p>

  <p>
    <strong>Persons:</strong>
    <%= our_firm.persons %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= our_firm.data %>
  </p>

</div>
