<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Id s:</strong>
    <%= product.id_s %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= product.tags %>
  </p>

  <p>
    <strong>Group product:</strong>
    <%= product.group_product %>
  </p>

  <p>
    <strong>Sten on:</strong>
    <%= product.sten_on %>
  </p>

  <p>
    <strong>Consists of:</strong>
    <%= product.consists_of %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= product.data %>
  </p>

</div>
