<div id="<%= dom_id supplier %>">
  <p>
    <strong>Name:</strong>
    <%= supplier.name %>
  </p>

  <p>
    <strong>Edrpou:</strong>
    <%= supplier.edrpou %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= supplier.email %>
  </p>

  <p>
    <strong>Ipn:</strong>
    <%= supplier.ipn %>
  </p>

  <p>
    <strong>Persons:</strong>
    <%= supplier.persons %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= supplier.data %>
  </p>

</div>
