<!DOCTYPE html>
<html lang="en">
<head>
  <title>YourAppName</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= javascript_include_tag 'application' %>




  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">Your Logo</a>


    <!-- Slide-out Menu Button -->
<button id="menu-toggle" class="btn btn-primary position-fixed top-0 end-0 mt-3 me-3">
    ☰
</button>


<!-- JavaScript to Handle Menu Toggle -->








    <!-- Navbar toggle button for mobile -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links and search -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        
        <!-- Add search input -->
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Slide-out Menu -->
<div id="slide-out-menu" class="position-fixed top-0 end-0 vh-100" style="width: 0; background-color: rgba(255, 255, 255, 0.5);">
    <ul class="list-unstyled">
        <li>
            <a href="<%= send_acts_path %>">
                <i class="icon-from-flaticon"><img src="<%= asset_path('icons/truck_fast_icon_257907.svg') %>" alt="Your Icon" /></i>
                <span class="d-none d-md-inline">DOCUMENT for sending</span>
            </a>
        </li>
        <!-- ... Add other links similarly ... -->
    </ul>
</div>


  <!-- Content -->
  <div class="container mt-4">
    <%= yield %>
  </div>

  <!-- Bootstrap JS dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
alert("Hello, ");
</script>

</body>
</html>

